<div class="jumbotron col-lg-12" ng-controller="LoginController">
  <h1 class="text-center">Bem Vindo ao PickList !</h1>
  <p class="text-center">Entre cam as suas credenciais para começar</p>
    <section>
      <div class="form-group">
        <input class="form-control" placeholder="E-mail" ng-model="dados.email">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Senha" type="password" ng-model="dados.senha">
      </div>
      <br>
      <button class="btn btn-default" ng-click="login()">Login</button>
      <div class="alert alert-danger" role="alert" ng-show="controleErro">{{mensagemErro}}</div>
    </section>
    <a ui-sref="cadastro">Ainda não é cadastrado? <br>Clique aqui para cadastrar</a>
</div>
