<div class="jumbotron col-lg-12 animated fadeInUp" ng-controller="LoginController">
  <h1 class="text-center">Bem Vindo ao Spotylist !</h1>
  <p class="text-center">Entre com as suas credenciais para começar</p>
    <section>
      <div class="form-group">
        <input class="form-control" placeholder="E-mail" ng-model="dados.email">
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Senha" type="password" ng-model="dados.senha">
      </div>
      <div class="alert alert-danger animated shake" role="alert" ng-show="controleErro">{{mensagemErro}}</div>
      <button class="btn btn-success btn-block button-margin-top" ng-click="login()">Login</button>
      <button class="btn btn-warning btn-block button-margin-top" ui-sref="cadastro">Cadastrar</button>
    </section>
</div>
