body {
  padding: 30px;
}

.float-right {
  float: right;
}

.button-margin-top {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .margin-top {
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .align-center {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 993px) {
  .margin-top {
    margin-top: 20px;
  }
}
